---
layout: default
title: Publications
---
  <div class="row">
    <div class="col">
      <h3>All of My Publications</h3>
      <p>This page shows a complete listing of my publications. I also have a listing of the <a href="acmpubs.html"><b>ACM Publications (courtesy of ACM Author-Izer Service)</b></a>. For the most current and complete listing, check my <a href="cv-perez-quinones.pdf"><b>CV</b></a>.</p>

      <p>Filter by type of publication: <label for="journals"><input type="checkbox" id="journals" checked onclick="$('.show-journals').toggle();"> Journals&nbsp;&nbsp;&nbsp;</label>
        <label for="proceedings"><input type="checkbox" id="proceedings" checked onclick="$('.show-proceedings').toggle();"> Proceedings&nbsp;&nbsp;&nbsp;</label>
        <label for="chapters"><input type="checkbox" id="chapters" checked onclick="$('.show-chapters').toggle();"> Book chapters&nbsp;&nbsp;&nbsp;</label>
        <label for="papers"><input type="checkbox" id="papers" checked onclick="$('.show-short').toggle();"> Short papers&nbsp;&nbsp;&nbsp;</label>
        <label for="reports"><input type="checkbox" id="reports" checked onclick="$('.show-techreports').toggle();"> Tech reports&nbsp;&nbsp;&nbsp;</label>
        <label for="thesis"><input type="checkbox" id="thesis" checked onclick="$('.show-thesis').toggle();"> Thesis/Dissertation&nbsp;&nbsp;&nbsp;</label></p>

      {% include journals.html %}
      {% include proceedings.html %}
      {% include bookchapters.html %}

      <div class="show-short">
        <a name="shortppaers"></a><h4>Short papers, panels, works in progress</h4>
        <ol>
        
          <li>Wang, Yao and Pérez-Quiñones, Manuel A. (2015) <a href="http://doi.acm.org/10.1145/2702613.2732780">Beyond "Geofencing": Specifying Location in Location-Based Reminder Applications</a> In <em>Proceedings of the 33rd Annual ACM Conference Extended Abstracts on Human Factors in Computing Systems (CHI EA '15)</em>. Seoul, Republic of Korea,  pp. 1767-1772. ACM Press, New York, NY, USA.
          <!-- keywords location-based reminders, mobile devices, prospective memory, to-do tasks --></li>


          <li>Jolaoso, Sheriff and Pérez-Quiñones, Manuel A. (2015) <a href="http://doi.acm.org/10.1145/2702613.2732890">TaskAmbient: A Study in Personal Task Management Visualization</a> In P<em>roceedings of the 33rd Annual ACM Conference Extended Abstracts on Human Factors in Computing Systems (CHI EA '15)</em>. Seoul, Republic of Korea pp. .1797-1802, ACM Press, New York, NY, USA.
          <!-- keywords ambient displays, personal task management, prospective memory --></li>


          <li>Garcia, Daniel D. and Allatta, Eric and Pérez-Quiñones, Manuel and Solin, Jeff (2015) <a href="http://doi.acm.org/10.1145/2676723.2677336">Technology We Can'T Live Without!</a> In <em>Proceedings of the 46th ACM Technical Symposium on Computer Science Education (SIGCSE '15)</em>. Kansas City, Missouri, USA pp. 597-598. ACM Press, New York, NY, USA.</em>
          <!-- keywords computer science education, technology and teaching --></li>


          <li>DuBow, Wendy M. and Vakalis, Ignatios and Pérez-Quiñones, Manuel A. and Black, Jason T., (2013). <a href="http://doi.acm.org/10.1145/2445196.2445306" target="_blank">Growing female undergraduate enrollments in computer science: some successful approaches</a>, In <em>SIGCSE '13: Proceeding of the 44th ACM technical symposium on Computer science education</em>, pp. 377-378.</li>
        
          <li>B. Sawyer and F. Quek and W. Wong and M. Motani and S. Chu Yew Yee and Pérez-Quiñones, M.A. and T. Martin and I. Burbey and L. McNair, (2012). <a href="http://pimworkshop.org/2012/pdf/sawyer_2012_information.pdf">Information Re-finding Through Physical-Social Contexts</a>, In <em>Workshop on Personal Information Management (PIM) 2012 at ACM Conference for Computer Supported Collaborative Work (CSCW) 2012</em>.</li>
        
          <li>Ben Hanrahan and Pérez-Quiñones, M.A. , (2012). <a href="http://pimworkshop.org/2012/pdf/hanrahan_2012_procrastinate.pdf">Procrastinate: How I Learned to Stop Worrying About Email and Love Procrastinating</a>, In <em>Workshop on Personal Information Management (PIM) 2012 at ACM Conference for Computer Supported Collaborative Work (CSCW) 2012</em>.</li>
        
          <li>Carlos Evia, Michael Stewart, Tim Lockridge, Siroberto Scerbo, Manuel A. Pérez-Quiñones, (2012). <a href="http://doi.acm.org/10.1145/2379057.2379123" target="_blank">Structured Authoring Meets Technical Comics in Techcommix</a>, In <em>Proceedings of the 30th ACM International Conference on Design of Communication</em>, pp. 353-354.</li>
        
          <li>Sawyer, Blake and Quek, Francis and Wong, Wai Choong and Motani, Mehul and Chu Yew Yee, Sharon Lynn and Pérez-Quiñones, Manuel, (2012). <a href="http://doi.acm.org/10.1145/2212776.2212861" target="_blank">Using physical-social interactions to support information re-finding</a>, In <em>CHI EA '12: CHI '12 Extended Abstracts on Human Factors in Computing Systems</em>, pp. 885-910.</li>
        
          <li>Hanrahan, Ben and Ahuja, Sameer and Pérez-Quiñones, Manuel and Kavanaugh, Andrea, (2011). <a href="http://doi.acm.org/10.1145/1979742.1979818" target="_blank">Evaluating software for communities using social affordances</a>, In <em>CHI EA '11: CHI '11 Extended Abstracts on Human Factors in Computing Systems</em>, pp. 1621-1626.</li>
        
          <li>B. Hanrahan, R. Quintana-Castillo, M. Stewart and M. A. Pérez-Quiñones, (2010). <a href="https://www.parc.com/content/events/attachments/Hanrahan_revised_Group10.pdf">WikiAtoms: Contributions to Wikis as Atomic Units</a>, In <em>Workshop: Collective Intelligence in Organizations (CIorg). 16th ACM International Conference on Supporting Group Work (GROUP 2010)</em>.</li>
        
          <li>M. Tungare, B. Hanrahan, R. Quintana-Castillo, M. Stewart and M.A. Pérez-Quiñones, (2010). <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.308.3233&rep=rep1&type=pdf">Collaborative Human Computation as a Means of Information Management</a>, In <em>2nd International Workshop on Collaborative Information Seeking at The 2010 ACM Conference on Computer Supported Cooperative Work</em>.</li>
        
          <li>M. Tungare, M. A. Pérez-Quiñones, P. S. Pyla, B. Hanrahan, U. Murthy, R. Quintana-Castillo, (2010). Sustainability of Bits, not just Atoms. Workshop: Examining Appropriation, Re-use, and Maintenance for Sustainability, In <em>CHI ’10: Proceedings of the 27th International Conference Extended Abstracts on Human Factors in Computing Systems</em>.</li>
        
          <li>P. S. Pyla, C. Grevet, M. Tungare, M. A. Pérez-Quiñones, (2010). From Research Hypotheses to Practical Guidelines: A Proposal to Facilitate Researcher- Practitioner Interaction, In <em>CHI ’10: Proceedings of the 27th international conference extended abstracts on Human factors in computing systems</em>.</li>
        
          <li>A. Kavanaugh, M. A. Pérez-Quiñones, J. Tedesco, W. Sanders, F. Casalegno, (2009). The Use of Social Media in the Virtual Town Square, In <em>NSF Workshop on Social Media and Government</em>.</li>
        
          <li>Tungare, Manas and Pérez-Quiñones, Manuel A., (2009). <a href="http://doi.acm.org/10.1145/1520340.1520498" target="_blank">Mental workload in multi-device personal information management</a>, In <em>CHI EA '09: CHI '09 Extended Abstracts on Human Factors in Computing Systems</em>, pp. 3431-3436.</li>
        
          <li>Tungare, Manas and Pérez-Quiñones, Manuel A., (2009). <a href="http://doi.acm.org/10.1145/1520340.1520725" target="_blank">You scratch my back and i'll scratch yours: combating email overload collaboratively</a>, In <em>CHI EA '09: CHI '09 Extended Abstracts on Human Factors in Computing Systems</em>, pp. 4711-4716.</li>
        
          <li>Tauro, C., Ahuja, S., Pérez-Quiñones, M.A., Kavanaugh, A., Isenhour, P., (2008). VizBlog: Discovering Conversations in the Blogosphere, In <em>Directions and Implications of Advanced Computing Conference on Online Deliberation (DIAC-2008/OD2008)</em>.</li>
        
          <li>Tungare, M. and Pérez-Quiñones, M.A., (2008). Thinking Outside the (Beige) Box: Personal Information Management Beyond the Desktop, In <em>3rd Invitational Workshop on Personal Information Management, PIM 2008, In CHI '08 Extended Abstracts on Human Factors in Computing Systems</em>.</li>
        
          <li>Robert Ball and Pardha Pyla and Manuel A. Pérez-Quiñones, (2007). <a href="http://doi.acm.org/10.1145/1240866.1240991" target="_blank">OSI and ET: originating source of information and evidence traceability</a>, In <em>CHI '07: CHI '07 extended abstracts on Human factors in computing systems</em>, pp. 2261-2266.</li>
        
          <li>Xiaoyan Yu and Manas Tungare and Weiguo Fan and Manuel A. Pérez-Quiñones and Edward A. Fox and William Cameron and GuoFang Teng and Lillian Cassel, (2007). <a href="http://doi.acm.org/10.1145/1255175.1255265" target="_blank">Automatic syllabus classification</a>, In <em>JCDL '07: Proceedings of the 2007 conference on Digital libraries</em>, pp. 440-441.</li>
        
          <li>Andrea Kavanaugh and Manuel A. Pérez-Quiñones and Daniel Dunlap and Philip Isenhour, (2006). <a href="http://doi.acm.org/10.1145/1146598.1146725" target="_blank">Modeling online participation in local governance</a>, In <em>dg.o '06: Proceedings of the 2006 international conference on Digital government research</em>, pp. 408-409.</li>
        
          <li>Manas Tungare and Pardha S. Pyla and Miten Sampat and Manuel A. Pérez-Quiñones, (2006). Defragmenting Information using the Syncables Framework, In <em>Proceedings of the 2nd Invitational Workshop on Personal Information Management at SIGIR 2006</em>.</li>
        
          <li>Manuel A. Pérez-Quiñones and E. Fox and L. Cassel and W. Fan, (2006). Work in Progress: Personalizing a Course Website Using the NSDL, In <em>Proceedings of the 36th Annual Frontiers in Education Conference</em>.</li>
        
          <li>Pardha S. Pyla and Manas Tungare and Manuel A. Pérez-Quiñones, (2006). Multiple User Interfaces: Why Consistency is Not Everything, and Seamless Task Migration is Key, In <em>Proceedings of the CHI 2006 Workshop on The Many Faces of Consistency in Cross-Platform Design</em>.</li>
        
          <li>Seungwon Yang and Ben Congleton and George Luc and Manuel A. Pérez-Quiñones and Edward A. Fox, (2006). <a href="http://doi.acm.org/10.1145/1141753.1141872" target="_blank">Demonstrating the use of a SenseCam in two domains</a>, In <em>JCDL '06: Proceedings of the 6th ACM/IEEE-CS joint conference on Digital libraries</em>, pp. 376-376.</li>
        
          <li>U. Murthy, I. Burbey, G. Kwon, N. Polys, P. Vincent, and M.A. Pérez-Quiñones, (2006). Re-finding from a Human Information Processing Perspective, In <em>Workshop on Personal Information Management, ACM SIGIR Conference</em>.</li>
        
          <li>D. Scott McCrickard and Doug A. Bowman and Chris North and Manuel A. Pérez-Quiñones, (2003). Center for Human-Computer Interaction at Virginia Tech, In <em>Proceedings Human-Computer Interaction Interact '03</em>, pp. 1061-1062.</li>
        
          <li>P.S. Pyla and M.A. Pérez-Quiñones and J.D. Arthur and H.R. Hartson, (2003). Towards a Model-Based Framework for Integrating Usability and Software Engineering Life Cycles, In <em>Proceedings of Interact 2003</em>.</li>
        
          <li>Manuel A. Pérez-Quiñones and John L. Sibert, (1996). <a href="http://doi.acm.org/10.1145/257089.257315" target="_blank">Negotiating user-initiated cancellation and interruption requests</a>, In <em>CHI '96: Conference companion on Human factors in computing systems</em>, pp. 267-268.</li>
        
          <li>Manuel A. Pérez-Quiñones, (1995). <a href="http://doi.acm.org/10.1145/223355.223434" target="_blank">Conversational dialogue in graphical user interfaces: interaction technique feedback and dialogue structure</a>, In <em>CHI '95: Conference companion on Human factors in computing systems</em>, pp. 71-72.</li>
        
          <li>Manuel A. Pérez-Quiñones and R.J.K. Jacob, (1994). A UIMS Architecture for Focus Processing in a Graphical User Interface, In <em>AAAI 1994 Spring Symposium Series: Intelligent Multi-Media Multi-Modal Systems Workshop</em>.</li>
        
          <li>Manuel A. Pérez-Quiñones and John L. Sibert, (1993). <a href="http://doi.acm.org/10.1145/169891.170022" target="_blank">Focus in graphical user interfaces</a>, In <em>IUI '93: Proceedings of the 1st international conference on Intelligent user interfaces</em>, pp. 255-257.</li>
        </ol>
      </div> <!-- short papers -->

      <div class="show-techreports">
        <a name="techreports"></a><h4>Tech reports and workshops</h4>
        <ol>

          <li>Wang, Yao and Pérez-Quiñones, Manuel A. (2014) <a href="http://doi.acm.org/10.1145/2638728.2641718">Exploring the Role of Prospective Memory in Location-based Reminders</a> In <em>Proceedings of the 2014 ACM International Joint Conference on Pervasive and Ubiquitous Computing: Adjunct Publication (UbiComp '14 Adjunct)</em>. Seattle, Washington,  pp. 1373-1380. ACM Press, New York, NY, USA.
          </li>

          <li>S.C. Turner and Manuel A. Pérez-Quiñones and S.H. Edwards, (2006).
            <a href="http://xxx.lanl.gov/pdf/cs.HC/0603121/" target="_blank">minimUML: A Minimalist Approach to UML Diagraming for Early Computer Science Education</a>,
            Technical Report Computing Research Repository (CoRR) cs.HC/0603121.</li>
        
          <li>Capra, Robert and Pinney, Mary and Manuel A. Pérez-Quiñones, (2005).
            Refinding is not Finding Again,
            Technical Report Department of Computer Science, Virginia Tech TR 05-10.</li>
        
          <li>Chandresh Chhatpar and Stelios Lambros and Manuel A. Pérez-Quiñones, (2004).
            Variability of User Interaction with Multi-Platform News Feeds,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-22.</li>
        
          <li>J. Rode and J. Howarth and Manuel A. Pérez-Quiñones and M.B. Rosson, (2004).
            An End-User Development Perspective on State-of-the-Art Web Development Tools,
            Technical Report Department of Computer Science, Virginia Tech TR-05-03.</li>
        
          <li>Kibum Kim and Scott Turner and Manuel A. Pérez-Quiñones, (2004).
            Comparing Classroom Note Taking across Multiplatform Devices,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-23.</li>
        
          <li>Manas Tungare and Ingrid Burbey and Ananth Raghavan and Manuel A. Pérez-Quiñones, (2004).
            Evaluation of a Location Linked Notes System,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-25.</li>
        
          <li>Manuel A. Pérez-Quiñones and J. Rode, (2004).
            <a href="http://eprints.cs.vt.edu/archive/00000698/" target="_blank">You've Got Mail! Calendar, Weather and More: Customizable Phone Access to Personal Information</a>,
            Technical Report Department of Computer Science, Virginia Tech TR 04-21.</li>
        
          <li>Manuel A. Pérez-Quiñones and Scott Turner, (2004).
            Using a tablet PC to provide peer review comments,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-17.</li>
        
          <li>Michael A. Narayan and Jian Chen and Manuel A. Pérez-Quiñones, (2004).
            Usability of Tablet PC as a Remote Control Device for Biomedical Data,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-26.</li>
        
          <li>Pardha S. Pyla and Jerome Holman and Manuel A. Pérez-Quiñones, (2004).
            Designing for Seamless Task Migration in MPUIs: Bridging Task-Disconnects,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-24.</li>
        
          <li>Pardha S. Pyla and Manuel A. Pérez-Quiñones and James D Arthur and Rex Hartson, (2004).
            <a href="{Url}" target="_blank">What we should teach, but don't: Proposal for a cross pollinated HCI-SE curriculum</a>,
            Technical Report Computing Research Repository (CoRR) cs/0403026.</li>
        
          <li>Robert Capra and Manuel A. Pérez-Quiñones, (2004).
            <a href="{Url}" target="_blank">Mobile Re-Finding of Web Information Using a Voice Interface</a>,
            Technical Report Computing Research Repository (CoRR) cs/0402001.</li>
        
          <li>Yogita Bhardwaj and Muhammad Abu-Saqer and Manuel A. Pérez-Quiñones, (2004).
            General Interface Description of Websites using CLICK and UIML,
            Technical Report Dept. of Computer Science, Virginia Tech TR 04-37.</li>
        
          <li>Atul Shenoy and Naren Ramakrishnan and Manuel A. Pérez-Quiñones, (2003).
            <a href="{Url}" target="_blank">Supporting Out-of-turn Interactions in a Multimodal Web Interface</a>,
            Technical Report Computing Research Repository (CoRR) cs/0307011.</li>
        
          <li>Kathleen McDevitt and Manuel A. Pérez-Quiñones and Olga I. Padilla-Falto, (2003).
            <a href="{Url}" target="_blank">Designing of a Community-based Translation Center</a>,
            Technical Report Computing Research Repository (CoRR) cs/0312010.</li>
        
          <li>Pardha S. Pyla and Manuel A. Pérez-Quiñones and James D. Arthur & H. Rex Hartson, (2003).
            <a href="{Url}" target="_blank">Towards a Model-Based Framework for Integrating Usability and Software Engineering Life Cycles</a>,
            Technical Report Computing Research Repository (CoRR) cs/0402036.</li>
        
          <li>Robert Capra and Manuel A. Pérez-Quiñones, (2003).
            <a href="{Url}" target="_blank">Re-Finding Found Things: An Exploratory Study of How Users Re-Find Information</a>,
            Technical Report Computing Research Repository (CoRR) cs/0310011.</li>
        
          <li>Saverio Perugini and Mary E. Pinney and Naren Ramakrishnan and Manuel A. Pérez-Quiñones and Mary Beth Rosson, (2003).
            <a href="{Url}" target="_blank">Taking the Initiative with Extempore: Exploring Out-of-Turn Interactions with Websites</a>,
            Technical Report Computing Research Repository (CoRR) cs.HC/0312016.</li>
        
          <li>J. Rode and J. Howarth and Manuel A. Pérez-Quiñones and M.B. Rosson, (2002).
            The challenges of web engineering and requirements for better tool support,
            Technical Report Department of Computer Science, Virginia Tech TR-05-01.</li>
        
          <li>Manuel A. Pérez-Quiñones and Natasha Dannenberg and Robert Capra, (2002).
            <a href="{Url}" target="_blank">Voice Navigation of Structured Web Spaces</a>,
            Technical Report Department of Computer Science, Virginia Tech TR-02-22.</li>
        
          <li>Priya Shivakumar and H. Rex Hartson and Manuel A. Pérez-Quiñones, (2002).
            <a href="{Url}" target="_blank">Usability Inspection Report of iLumina</a>,
            Technical Report Department of Computer Science, Virginia Tech TR-02-20.</li>
        
          <li>Zhiyan Shao and R.G. Capra and Manuel A. Pérez-Quiñones, (2002).
            <a href="{Url}" target="_blank">Annotations for HTML to VoiceXML Transcoding: Producing Voice WebPages with Usability in Mind</a>,
            Technical Report Computing Research Repository (CoRR) cs/0211037.</li>
        
          <li>M. Farooq Ali and Manuel A. Pérez-Quiñones and M. Abrams and E. Shell, (2001).
            <a href="{Url}" target="_blank">A Multi-Step Process for Generating Multi-Platform User Interfaces with UIML</a>,
            Technical Report Computing Research Repository (CoRR) cs.HC/0111025.</li>
        
          <li>M. Farooq Ali and Manuel A. Pérez-Quiñones and M. Abrams and E. Shell, (2001).
            <a href="{Url}" target="_blank">Building Multi-Platform User Interfaces with UIML</a>,
            Technical Report Computing Research Repository (CoRR) cs.HC/0111024.</li>
        
          <li>Naren Ramakrishnan and Robert Capra and Manuel A. Pérez-Quiñones, (2001).
            <a href="{Url}" target="_blank">Mixed-initiative interaction = mixed computation</a>,
            Technical Report Computing Research Repository (CoRR) cs.PL/0110022.</li>
        
          <li>Zaffer, Ali A. and Shaffer, Clifford A. and Ehrich, Roger W. and Pérez, Manuel, (2001).
            <a href="{Url}" target="_blank">NetEdit: A Collaborative Editor</a>,
            Technical Report Department of Computer Science, Virginia Tech TR 01-13.</li>
        
          <li>Manuel A. Pérez-Quiñones, (1995).
            Computational Pragmatics in HCI: Using Dialog Context in a Multimodal Application,
            AIC Technical Report Navy Center for Applied Research in Artificial Intelligence, Naval Research Laboratory AIC-95-028.</li>
        
          <li>Stephanie S. Everett and Kennetth Wauchope and Manuel A. Pérez-Quiñones, (1995).
            <a href="{Url}" target="_blank">A Natural Language Interface for Virtual Reality Systems</a>,
            Technical Report NCARAI Naval Research Lab .</li>
        
          <li>A. Rose and Manuel A. Pérez-Quiñones and P. Clements, (1994).
            The Modechart Toolset User's Guide.,
            Technical Report Naval Research Laboratory, Washington, D.C. NRL/MR/5540-94-7427.</li>
        
          <li>Rudy Darken and Manuel A. Pérez-Quiñones, (1993).
            Navigational Techniques for Large Directed Graphs,
            Technical Report The George Washington University, Washington, D. C. GWU-IIST-93-11.</li>
        
          <li>J.A. Ballas and C.L. Heitmeyer and Manuel A. Pérez-Quiñones, (1992).
            Direct Manipulation and Intermittent Automation in Advanced Cockpits,
            Technical Report Naval Research Laboratory, Washington, D. C. 9375.</li>
        
          <li>Manuel A. Pérez-Quiñones and Marcelo Ruiz-Camaüer and M.B. Feldman, (1992).
            Use of Interesting Events for Separation of User Interface and Application Code in SmallAda,
            Technical Report The George Washington University, Washington, D. C. GWU-IIST-92-15.</li>
        </ol>
      </div> <!-- tech reports -->

      <div class="show-thesis">
        <a name="thesis"></a><h4>MS Thesis and PhD Dissertation</h4>
        <ol>
          <li>Manuel A. Pérez-Quiñones, (1987). A Language for Interactive Computer Graphics Programming, Master Thesis, Ball State University, Muncie, IN. Advisor: Michael McGrew.</li>
        
        
          <li>Manuel A. Pérez-Quiñones, (1996). Conversational Collaboration in User-Initiated Interruption and Cancellation Requests, Doctoral Dissertation, The George Washington University, Washington DC. Advisor: John Lee Sibert.</li>
        </ol>
      </div> <!-- thesis -->
    </div> <!-- col-md-12 -->
  </div> <!-- row -->


