/* Links */
a {
  color: {dark1};
} 
a:hover {
  color: {highlight};
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: {dark1};
}

.page-header {
  border-bottom: 1pxpx solid {highlight};
}

hr {
  border-top: 1px solid {gray};
  border-bottom: 1px solid {white};
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: {white};
  color: #404039;
  border: 1px solid #ccc;
}

/* background colors for wells, jumbotron and breadcrumbs */
ol.breadcrumb,
.well,
.jumbotron {
  background-color: #f5f5eb;
}

.btn {
  color: {dark3};
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: {highlight};
}


.alert {
  padding: 8px 35px 8px 14px;
  background-color: #edeada;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #9bb68f;
  border-color: #79946c;
}
.alert-success, .alert-success .alert-heading {
  color: #305020;
}
.alert-danger, .alert-error {
  background-color: #b47a1f;
  border-color: #8c5206;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #993300;
}
.alert-info {
  background-color: #DBD8BC;
  border-color: #3c5b6f;
}
.alert-info, .alert-info .alert-heading {
  color: #12252c;
}

/* Colors for the navbar 
background color: 7a0000 (reds, 2nd reds from VT branding)
bottom border: ff6600 (orange)
*/
.navbar-inner {
  color: {dark2};
}

.navbar-inverse {
  background-color: {dark2};
  border-color: {dark2} {dark2} {highlight} {dark2};
}

.navbar-inverse .navbar-brand {
  color: #fff;
  background-color: {dark2};
}

.navbar .divider-vertical {
  background-color: {dark3};
}

.navbar .nav > li > a {
  color: #fff;
}

.navbar .nav > li > a.navbar-brand {
  color: #fff;
}
.navbar-inverse  a.navbar-brand:hover {
  color: #c2c1ba;
}
.navbar .nav > li > a:hover {
  color: #fff;
  background-color: {highlight};
  border-radius:10px 10px 0 0;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
  background-color: {highlight};
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}


/* colors for images */
img.thumbnail.img-responsive {
  border: 1px solid #c2c1ba;
}


.label,
.badge {
  color: #f5f5eb;
  background-color: #9d9879;
}

.label-primary,
.badge-primary,
.panel-primary > .panel-heading,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #3c5b6f;  /*93a7b3*/
}

.btn-primary {
  background-color: #3c5b6f;
  color: {white};
}

.label-important,
.badge-important,
.panel-important > .panel-heading {
  background-color: #3c5b6f;
}

.btn-warning {
  color: {white};
}

.label-warning,
.badge-warning,
.panel-warning > .panel-heading,
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: {highlight};  /*f89406*/
}

.label-success,
.badge-success,
.panel-success > .panel-heading,
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #516F43; /*#9bb68f*/
}

.btn-success {
  color: {white};
}

.label-info,
.badge-info,
.panel-info > .panel-heading,
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
   background-color: #DBD8BC;
}

.btn-info {
  color: #DBD8BC;
}

.btn-danger {
  color: {white};
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: {dark1};
}

